.count1 .counts {
  background-color: #ededed;
  color: black;
  font-size: 20px;
  width: 255px;
  height: 96px;
  margin-right: 17px;
  margin-bottom: 17px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.count1 a {
  text-decoration: none;
  color: black;
}
.counts {
  width: 100%;
}
