.invite {
  padding: 16px 27px;
  background: #dadada;
  height: fit-content;
  margin-top: 7px;
  border-radius: 7px;
  color: white;
}

/* //? CandidateAssessmentReview */
.CandidateAssessmentReview {
  margin-top: 150px;
}

/* //! review comp */

.Review1 {
  width: 30%;
  border-right: 1px solid gray;
}
.Review2 {
  width: 35%;
  border-right: 1px solid gray;
}
.Review3 {
  width: 35%;
}
