.setLog {
  text-align: center;
  text-decoration: none;
  font-weight: 600;
}

.setLog a {
  color: black;
}
.li {
  display: flex;
  align-items: center;
}
.material-symbols-outlined {
  font-size: 20px;
  margin-right: 5px;
}
.danger {
  color: rgb(203, 11, 11);
}
.success {
  color: green;
}

.reset-btn {
  border-style: none;
  background: none;
  color: white;
  font-weight: 600;
  background-color: #46a997;
}
